@model Contact
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="row">
	<div class="col-lg-12">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Düzenle</h5>

				<!-- Vertical Form -->
				<form class="row g-3" method="post">
					<input type="text" asp-for="CustomerInfoId" class="form-control" id="inputNanme4" hidden>
					<input type="text" asp-for="ID" class="form-control" id="inputNanme4" hidden>
					<div class="col-12">
						<label for="inputNanme4" class="form-label">Adres</label>
						<input type="text" asp-for="Address" class="form-control" id="inputNanme4">
					</div>
					<div class="col-12">
						<label for="inputEmail4" class="form-label">Telefon</label>
						<input type="text" asp-for="Phone" class="form-control" id="inputEmail4">
					</div>

					<div class="text-center">
						<button type="submit" class="btn btn-primary">Kaydet</button>
						<button type="reset" class="btn btn-secondary">İptal</button>
					</div>
				</form><!-- Vertical Form -->

			</div>
		</div>


	</div>
</div>

